<p-steps [model]="itemsContex" [(activeIndex)]="activeIndexContex" [readonly]="false"></p-steps>
<div class="p-col-12 p-lg-12" *ngIf="activeIndexContex==0">
    <div class="p-col-12 p-lg-12">
        <div class="p-grid ui-fluid">
            <div class="p-lg-6">
                <div class="p-col-12">
                    <label for="introduccion">Introducción:</label>
                </div>
                <div class="p-col-2">
                    <textarea id="introduccion" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                        placeholder="Introducción" autoResize="autoResize"></textarea>
                </div>
                <div class="p-col-12">
                    <label for="fundamentacion">Fundamentación:</label>
                </div>
                <div class="p-col-2">
                    <textarea id="fundamentacion" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                        placeholder="Fundamentación" autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="p-lg-6">
                <div class="p-col-12">
                    <label for="diagnostico">Analisis situacional (Diagnóstico):</label>
                </div>
                <div class="p-col-2">
                    <textarea id="diagnostico" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                        placeholder="Analisis situacional (Diagnóstico)" autoResize="autoResize"></textarea>
                </div>
                <div class="p-col-12">
                    <label for="justificaion">Justificaión:</label>
                </div>
                <div class="p-col-2">
                    <textarea id="justificaion" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                        placeholder="Justificaión" autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="p-lg-4">
                <div class="p-col-12">
                    <label for="ObjetivoGenereal">Objetivo general:</label>
                </div>
                <div class="p-col-12">
                    <textarea id="ObjetivoGeneral" [rows]="5" [cols]="30" pInputTextarea placeholder="Objetivo general"
                        autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="p-lg-4">
                <div class="p-col-12">
                    <label for="indicador">Indicador:</label>
                </div>
                <div class="p-col-12">
                    <textarea id="indicadorObjetivo" [rows]="5" [cols]="30" pInputTextarea placeholder="Indicador"
                        autoResize="autoResize"></textarea>
                </div>
            </div>
            <div class="p-lg-4">
                <div class="p-col-12">
                    <label for="mediosVerificacion">Medios de verificación:</label>
                </div>
                <div class="p-col-12">
                    <textarea id="mediosVerificacion" [rows]="5" [cols]="30" pInputTextarea
                        placeholder="Medios de verificación" autoResize="autoResize"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-col-12 p-lg-12" *ngIf="activeIndexContex==1">
    <div class="p-col-12 p-lg-12">
        <div class="p-grid ui-fluid">
            <div class="p-lg-4">
                <div class="p-grid">
                    <div class="p-col-12">
                        <label for="objetivoEspecifico">Objetivo específico:</label>
                    </div>
                    <div class="p-col-10">
                        <input [(ngModel)]="detalleObjEspe" id="objetivoEspecifico" type="text" pInputText
                            placeholder="Objetivos específicos">
                    </div>
                    <div class="p-col-12">
                        <label for="indicador">Indicador:</label>
                    </div>
                    <div class="p-col-10">
                        <input [(ngModel)]="indicadorObjEspe" id="indicadorEspecifico" type="text" pInputText
                            placeholder="Indicador">
                    </div>
                    <div class="p-col-12">
                        <label for="mediosVerificacion">Medio de verificación:</label>
                    </div>
                    <div class="p-col-10">
                        <input [(ngModel)]="mediosObjEspe" id="mediosVerificacion" type="text" pInputText
                            placeholder="Medios de verificación">
                    </div>
                    <div class="p-col-12">
                        <label for="objetivoEspecifico">Resultado:</label>
                    </div>
                    <div class="p-col-10">
                        <textarea [(ngModel)]="resultadosObjEspe" id="resultados" [rows]="5" [cols]="30" pInputTextarea
                            placeholder="Resultados" autoResize="autoResize"></textarea>
                    </div>
                    <div class="p-col-12">
                        <label for="objetivoEspecifico">Actividad:</label>
                    </div>
                    <div class="p-col-10">
                        <textarea [(ngModel)]="actividadesObjEspe" id="actividades" [rows]="5" [cols]="30"
                            pInputTextarea placeholder="Actividades" autoResize="autoResize"></textarea>
                    </div>
                    <div class="p-md-4">
                        <button (click)="addObjetivos()" pButton type="button" label="Añadir"
                            icon="pi pi-plus"></button>
                    </div>
                </div>
            </div>
            <div class="p-lg-8">
                <div class="p-grid">
                    <p-table [columns]="tablaObjetivos" [value]="objetivos" selectionMode="single" dataKey="vin"
                        [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3" [responsive]="true">
                        <ng-template pTemplate="caption">
                            Objtivos especificos
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>