<h1>Nuevo proyecto</h1>
<div class="card card-w-title">
    <div class="ui-helper-clearfix">
        <div class="p-grid">
            <div class="p-col-12 p-md-4">
                <h1>
                    <input id="nombreProyecto" type="text" pInputText placeholder="Nombre proyecto">
                </h1>
            </div>
            <div class="p-col-12 p-md-4">
                <p-dropdown id="estado" [options]="cities" [(ngModel)]="selectedCity4"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-4">
                <p-dropdown id="periodo" [options]="cities" [(ngModel)]="selectedCity4"></p-dropdown>
            </div>
        </div>
    </div>
    <div>
        <p-tabView>
            <p-tabPanel header="Estado académico" leftIcon="pi pi-check">
                <div class="p-grid ui-fluid">
                    <div class="p-grid form-group">
                        <div class="p-col-6">
                            <label for="carrera">Carrera:</label>
                        </div>
                        <div class="p-col-6">
                            <label for="objeto">Objeto:</label>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <p-dropdown id="carrera" [options]="cities" [(ngModel)]="selectedCity4"></p-dropdown>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <input id="objeto" type="text" pInputText placeholder="Objeto">
                        </div>
                        <div class="p-col-6">
                            <label for="ciclo">Ciclo:</label>
                        </div>
                        <div class="p-col-6">
                            <label for="modalidad">Modalidad:</label>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <p-dropdown id="ciclo" [options]="cities" [(ngModel)]="selectedCity4"></p-dropdown>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <div class="p-grid">
                                <div class="p-col-2 p-md-4">
                                    <p-radioButton name="modalidad" value="presencial" label="Presencial"
                                        [(ngModel)]="modalidad"></p-radioButton>
                                </div>
                                <div class="p-col-2 p-md-4">
                                    <p-radioButton name="modalidad" value="dual" label="Dual" [(ngModel)]="modalidad">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <label for="localizacion">Localizacion:</label>
                        </div>
                        <div class="p-col-6">
                            <label for="plazo">Plazo de ejecucion:</label>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <textarea id="localizacion" [rows]="5" [cols]="30" pInputTextarea
                                placeholder="Cobertura y localizacion" autoResize="autoResize"></textarea>
                        </div>
                        <div class="p-col-2 p-sm-6">
                            <input disabled="disabled" id="plazo" type="text" pInputText
                                placeholder="Plazo de ejecucion">
                        </div>
                        <div class="p-col-4">
                            <label for="fechaPresentacion">Fecha presentacion:</label>
                        </div>
                        <div class="p-col-4">
                            <label for="fechaInicio">Fecha inicio:</label>
                        </div>
                        <div class="p-col-4">
                            <label for="fechaFinal">Fecha final:</label>
                        </div>
                        <div class="p-col-2 p-sm-4">
                            <p-calendar id="fechaPresentacion" [showIcon]="true" placeholder="Fecha presentacion">
                            </p-calendar>
                        </div>
                        <div class="p-col-2 p-sm-4">
                            <p-calendar id="fechaInicio" [showIcon]="true" placeholder="Fecha inicio"></p-calendar>
                        </div>
                        <div class="p-col-2 p-sm-4">
                            <p-calendar id="fechaFinal" [showIcon]="true" placeholder="Fecha final"></p-calendar>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Institutción beneficiaria" leftIcon="pi pi-phone">
                <div class="p-grid ui-fluid">
                    <div class="p-col-12 p-lg-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4">
                                <label for="nombreInstitucion">Nombre completo organización/institución:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="provincia">Provincia:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="canton">Cantón:</label>
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="nombreInstitucion" type="text" pInputText
                                    placeholder="Nombre completo organización/institución">
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="provincia" type="text" pInputText placeholder="Provincia">
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="canton" type="text" pInputText placeholder="Cantón">
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="parroquia">Parroquia:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="ubicacion">Lugar de ubicación:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="beneficiariosDirectos">Beneficiarios directos:</label>
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="parroquia" type="text" pInputText placeholder="Parroquia">
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="ubicacion" type="text" pInputText placeholder="Lugar de ubicación">
                            </div>
                            <div class="p-col-2 p-sm-4">
                                <input id="beneficiariosDirectos" type="text" pInputText
                                    placeholder="Beneficiarios directos">
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-6">
                        <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                            <div class="p-col-12">
                                <label for="nombreCoordinador">Nombres y apellidos de coordinador(es) de institución
                                    beneficiaria:</label>
                            </div>
                            <div class="p-col-10">
                                <input id="nombreCoordinador" type="text" pInputText
                                    placeholder="Nombres y apellidos de coordinador(es) de institución beneficiaria">
                            </div>
                            <div class="p-col-12">
                                <label for="cargoInstitucion">Cargo o funcion de la institución beneficiaria:</label>
                            </div>
                            <div class="p-col-10">
                                <input id="cargoInstitucion" type="text" pInputText
                                    placeholder="Cargo o funcion de la institución beneficiaria">
                            </div>
                            <div class="p-col-12">
                                <label for="funcionComunidad">Función que cumple en el proyecto de vinculación con la
                                    comunidad:</label>
                            </div>
                            <div class="p-col-10">
                                <input id="funcionComunidad" type="text" pInputText
                                    placeholder="Función que cumple en el proyecto de vinculación con la comunidad">
                            </div>
                            <div class="p-col-12 p-md-3">
                                <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-6">
                        <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                            <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3" [responsive]="true">
                                <ng-template pTemplate="caption">
                                    COORDINADOR(ES) DE INSTITUCIÓN BENEFICIARIA
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr [pSelectableRow]="rowData">
                                        <td *ngFor="let col of columns">
                                            <span class="ui-column-title">{{col.header}}</span>
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Contextualización" leftIcon="pi pi-check">
                <div class="p-grid ui-fluid">
                    <div class="p-col-12 p-lg-6">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="introduccion">Introducción:</label>
                            </div>
                            <div class="p-col-2">
                                <textarea id="introduccion" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                                    placeholder="Introducción" autoResize="autoResize"></textarea>
                            </div>
                            <div class="p-col-12">
                                <label for="fundamentacion">Fundamentación:</label>
                            </div>
                            <div class="p-col-2">
                                <textarea id="fundamentacion" style="width: 500px;" [rows]="5" [cols]="30"
                                    pInputTextarea placeholder="Fundamentación" autoResize="autoResize"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-6">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <label for="diagnostico">Analisis situacional (Diagnóstico):</label>
                            </div>
                            <div class="p-col-2">
                                <textarea id="diagnostico" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                                    placeholder="Analisis situacional (Diagnóstico)" autoResize="autoResize"></textarea>
                            </div>
                            <div class="p-col-12">
                                <label for="justificaion">Justificaión:</label>
                            </div>
                            <div class="p-col-2">
                                <textarea id="justificaion" style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                                    placeholder="Justificaión" autoResize="autoResize"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4">
                                <label for="ObjetivoGenereal">Objetivo genereal:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="indicador">Indicador:</label>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label for="mediosVerificacion">Medios de verificación:</label>
                            </div>
                            <div class="p-col-2 p-md-4">
                                <textarea id="ObjetivoGenereal" [rows]="5" [cols]="30" pInputTextarea
                                    placeholder="Objetivo genereal" autoResize="autoResize"></textarea>
                            </div>
                            <div class="p-col-2 p-md-4">
                                <textarea id="indicador" [rows]="5" [cols]="30" pInputTextarea placeholder="Indicador"
                                    autoResize="autoResize"></textarea>
                            </div>
                            <div class="p-col-2 p-md-4">
                                <textarea id="mediosVerificacion" [rows]="5" [cols]="30" pInputTextarea
                                    placeholder="Medios de verificación" autoResize="autoResize"></textarea>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <div class="p-col-12">
                                        <label for="objetivoEspecifico">Objetivos específicos:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="objetivoEspecifico" type="text" pInputText
                                            placeholder="Objetivos específicos">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="indicador">Indicador:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="indicador" type="text" pInputText placeholder="Indicador">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="mediosVerificacion">Medios de verificación:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="mediosVerificacion" type="text" pInputText
                                            placeholder="Medios de verificación">
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                        [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3"
                                        [responsive]="true">
                                        <ng-template pTemplate="caption">
                                            Objtivos especificos
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns">
                                                    <span class="ui-column-title">{{col.header}}</span>
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                        [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3"
                                        [responsive]="true">
                                        <ng-template pTemplate="caption">
                                            Resultados
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns">
                                                    <span class="ui-column-title">{{col.header}}</span>
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <div class="p-col-12">
                                        <label for="objetivoEspecifico">Resultados:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="objetivoEspecifico" type="text" pInputText
                                            placeholder="Objetivos específicos">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="indicador">Indicador:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="indicador" type="text" pInputText placeholder="Indicador">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="mediosVerificacion">Medios de verificación:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="mediosVerificacion" type="text" pInputText
                                            placeholder="Medios de verificación">
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <div class="p-col-12">
                                        <label for="objetivoEspecifico">Actividades:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="objetivoEspecifico" type="text" pInputText
                                            placeholder="Objetivos específicos">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="indicador">Indicador:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="indicador" type="text" pInputText placeholder="Indicador">
                                    </div>
                                    <div class="p-col-12">
                                        <label for="mediosVerificacion">Medios de verificación:</label>
                                    </div>
                                    <div class="p-col-10">
                                        <input id="mediosVerificacion" type="text" pInputText
                                            placeholder="Medios de verificación">
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-lg-6">
                                <div class="p-grid" style="padding: 1em; border-top: 2px solid #d9d9d9;">
                                    <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                        [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3"
                                        [responsive]="true">
                                        <ng-template pTemplate="caption">
                                            Actividades
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns">
                                                    <span class="ui-column-title">{{col.header}}</span>
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Participantes" leftIcon="pi pi-user">
                <div class="p-grid ui-fluid">
                    <p-accordion>
                        <p-accordionTab header="Docentes">
                            <div class="p-grid ui-fluid">
                                <div class="p-col-12 p-lg-6">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6">
                                            <label for="docente">Docente:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="cargo">Cargo:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <p-dropdown id="docente" [options]="cities" [(ngModel)]="selectedCity4">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <input id="cargo" type="text" pInputText placeholder="Cargo">
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="horarioTrabajo">Horario de trabajo para el proyecto:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="funciones">Funciones asignadas:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <input id="horarioTrabajo" type="text" pInputText
                                                placeholder="Horario de trabajo para el proyecto">
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <p-dropdown id="funciones" [options]="cities" [(ngModel)]="selectedCity4">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-3">
                                            <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-col-12 p-lg-6">
                                    <div class="p-grid">
                                        <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                            [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3"
                                            [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                Docentes
                                            </ng-template>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr [pSelectableRow]="rowData">
                                                    <td *ngFor="let col of columns">
                                                        <span class="ui-column-title">{{col.header}}</span>
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Estudiantes">
                            <div class="p-grid ui-fluid">
                                <div class="p-col-12 p-lg-6">
                                    <div class="p-grid">
                                        <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin"
                                            [style]="{'margin-bottom':'20px'}" [(selection)]="selectedCar3"
                                            [responsive]="true">
                                            <ng-template pTemplate="caption">
                                                Estudiantes
                                            </ng-template>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                        {{col.header}}
                                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr [pSelectableRow]="rowData">
                                                    <td *ngFor="let col of columns">
                                                        <span class="ui-column-title">{{col.header}}</span>
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                                <div class="p-col-12 p-lg-6">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6">
                                            <label for="estudiante">Estudiante:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="ci">CI:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <p-dropdown id="estudiante" [options]="cities" [(ngModel)]="selectedCity4">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <input id="ci" type="text" pInputText placeholder="Disabled"
                                                disabled="disabled">
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="especialidad">Especialidad:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <label for="funciones">Funciones asignadas:</label>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <p-dropdown id="especialidad" [options]="cities"
                                                [(ngModel)]="selectedCity4"></p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <p-dropdown id="funciones" [options]="cities" [(ngModel)]="selectedCity4">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-col-12 p-md-3">
                                            <button pButton type="button" label="Añadir" icon="pi pi-plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Actividades" leftIcon="pi pi-user">
                <div class="p-grid ui-fluid">
                    <p-accordion>
                        <p-accordionTab header="Frecuencia de las actividades" [selected]="true">
                            <div class="p-col-2 p-sm-6">
                                <div class="p-grid">
                                    <div class="p-col-2 p-md-3">
                                        <p-radioButton name="frecuenciaDiaria" value="frecuenciaDiaria" label="Diaria"
                                            [(ngModel)]="frecuenciaDiaria"></p-radioButton>
                                    </div>
                                    <div class="p-col-2 p-md-3">
                                        <p-radioButton name="frecuenciaSemanal" value="frecuenciaSemanal"
                                            label="Semanal" [(ngModel)]="frecuenciaSemanal">
                                        </p-radioButton>
                                    </div>
                                    <div class="p-col-2 p-md-3">
                                        <p-radioButton name="frecuenciaQuincenal" value="frecuenciaQuincenal"
                                            label="Quincenal" [(ngModel)]="frecuenciaQuincenal">
                                        </p-radioButton>
                                    </div>
                                    <div class="p-col-2 p-md-3">
                                        <p-radioButton name="frecuenciaMensual" value="frecuenciaMensual"
                                            label="Mensual" [(ngModel)]="frecuenciaMensual">
                                        </p-radioButton>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Actividad de vinculación">
                            <p-listbox [options]="citiesListbox" [(ngModel)]="selectedCity2" checkbox="checkbox"
                                filter="filter" multiple="multiple"></p-listbox>
                        </p-accordionTab>
                        <p-accordionTab header="Ejes estratégicos de vinculación con la colectividad">
                            <p-listbox [options]="citiesListbox" [(ngModel)]="selectedCity2" checkbox="checkbox"
                                filter="filter" multiple="multiple"></p-listbox>
                        </p-accordionTab>
                        <p-accordionTab header="Áreas de aplicación de los proyectos de vinculación">
                            <p-listbox [options]="citiesListbox" [(ngModel)]="selectedCity2" checkbox="checkbox"
                                filter="filter" multiple="multiple"></p-listbox>
                        </p-accordionTab>
                        <p-accordionTab header="Descripción general del proyecto">
                            <textarea id="descripcionGeneral" style="width: 1000px;" [rows]="5" [cols]="30"
                                pInputTextarea placeholder="Descripción general del proyecto"
                                autoResize="autoResize"></textarea>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>